/* Flávia Glenda */
:root {
    --blue: #2EB2FA;
    --lightBlue1: #7DB8D8;
    --lightBlue2: #6c8392;
    --darkBlue1: #334b58;
    --darkBlue2: #3c4246;
    --orange: #FE8F00;
    --lightOrange1: #E2A85D;
    --lightOrange2: #a89070;
    --darkOrange1: #694f2d;
    --darkOrange2: #473f34;
}

* {
    margin: 0;
}

body {
    background-color: var(--darkBlue1);
}

svg {
    height: 20px;
    width: 20px
}

/* HEADER */
header {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
    padding: 16px 0;
}

header .logo {
    height: 64px;
    width: 64px;
}

#header-search {
    background-color: white;
    display: flex;
    border-radius: 32px;
    padding: 6px 12px;
    box-sizing: border-box;
    border: white 2px solid;
}

#header-search input, #header-search button {
    background: none;
    border: none;
    outline: none;
}

#header-search input {
    padding: 4px 8px;
    width: 500px;
}

#header-search:hover {
    border-color: var(--darkBlue2);
}

nav {
    display: flex;
    gap: 8px;
}

nav svg {
    height: 36px;
    width: 36px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #header-search input {
        width: 100%;
        margin-bottom: 16px;
    }

    nav ul {
        flex-direction: column;
        gap: 8px;
    }
}